<!doctype html>
<html>
<head>
  <title>Airbnb Experiences</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="layout.css">
  <link rel="stylesheet" type="text/css" href="css/grid.css">
  <script type="text/javascript" src="scripts.js"></script>
</head>
<body>

<div class="bg">
  <div class="index_outer">
    <div class="page">
      <div class ="topofpage">

        <div class="logo"><a href="index.html"><img src="img/logo.png" alt="Airbnb Logo" class="logo_img"/></a></div>

        <div class="navbar">
          <div class="nav"><a href="stories.html">Featured Stories</a></div>
          <div class="nav"><a href="nominate.html">Nominate</a></div>
          <div class="nav"><a href="reserve.html">Reserve</a></div>
          <div class="nav_host"><a href="host.html">Become a host</a></div>
        </div>

        <div id="menu" onclick="showmenu()"><img src="img/menu.png" alt="Menu"/></div>

        <div id="menuoverlay">
          <div id="close" onclick="hidemenu()">&times;</div>
            <div class="innermenu">
              <div class="menuitems"><a href="index.html">Home</a></div>
              <div class="menuitems"><a href="stories.html">Featured Stories</a></div>
              <div class="menuitems"><a href="nominate.html">Nominate</a></div>
              <div class="menuitems"><a href="reserve.html">Reserve</a></div>
              <div class="menuitems"><a href="host.html">Become a host</a></div>
            </div>
          </div>

        <div class="access"><a href="access.html"><img src="img/globe.png" alt="Accessibility" class="access_img"/></a></div>
        <div class="account"><a href="account.html"><img src="img/account.png" alt="Account" class="account_img"/></a></div>
      </div>



      <div class ="index_content">
        <h1>Truffles.<br> Truffles.</h1>
        Follow Stella and her owner Massimo on a <i>tartufaia</i> -Italian for truffle hunt, through the forests of Mugello, Tuscany.
        Stella has been outfitted with a GoPro harness to capture the main action from the forest floor.
      </div>

    </div>
  </div>
</div>

</body>
</html>
