
body{
  background-color:black;
  font-family: acier-bat-solid, sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  margin: 0;
  padding:0;
  display:block;
}

/* CSS DECORATION */

.border{
border-left: 4px solid white;
height: 840vh;
position:absolute;
left: 5.1em;
}

hr {
  border: 2px
  solid white;
  width: 100%;
  margin: auto;
  margin-top: 0rem;
  margin-bottom: 1rem;
  display:inline-block;
}

p{
  display: block;
  margin-bottom: 20px;
}

h1{
  font-weight: 300;
  font-size: 8.8vw;
  line-height: 1.1;
  display:inline-block;
}

h2{
  font-weight: 900;
  font-family: abel, sans-serif;
  font-size: 3.3em;
  line-height: 1;
  display:block;
}

h3{
  font-weight: 800;
  font-family: abel, sans-serif;
  font-size: 5vw;
  display:inline-block;
}

h4{
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.75em;
  display:inline-block;

}

h5{
  font-weight: 300;
  font-family: abel, sans-serif;
  font-size: 8vw;
  line-height: 1em;
  display:block;

}

h6{
  font-weight: 400;
  font-size: 1.1em;;
  line-height: 1.2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display:block;
  text-indent: 1.8em;
}

h7{
  font-weight: 400;
  font-size: 2.5rem;;
  line-height: 1;
  display:block;
}

a{
  color: #FFF;
  text-decoration: none;
}

a:hover{
  border-bottom: 2px solid;
}

.highlight{
  font-weight: 600;
  margin-right: 5px;
}

.thumbnail{
  width: 100%;
  height: 100%;
	border: 2px solid white;
	overflow: hidden;
}

.divider{
  border-right: 1px solid white;
  display:inline-block;
}

.icon{

  max-width: 53px;
  padding-right: 20px;
  padding-bottom: 20px;

}


/* INDEX PAGE CONTENT */
.tilebg1 {
  width: 100%;
  height: 100vh;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-linear-gradient(top,
    rgba(0,0,0,0.3) 20%,
    rgba(0,0,0,0.3) 20%,
    rgba(0,0,0,0.1) 80%,
    rgba(0,0,0,0.9) 100%
   ),
   url("img/seagravegallery-ansel-adams-sequoia-roots-1950.jpeg");

}

.tilebg2 {
  width: 100%;
  height: auto;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-linear-gradient(top,
    rgba(0,0,0,0.3) 20%,
    rgba(0,0,0,0.3) 20%,
    rgba(0,0,0,0.1) 80%,
    rgba(0,0,0,0.1) 100%
   ),
   url("img/rings.jpeg");
}

.outer{
  align-items: left;
  height: 100vh;

}



.page{
  background-color: transparent;
  height:100vh;
  display: inline-block;
}

.index_content{
  font-weight: 400;
  text-align: left;
  line-height: 1;
  padding-top: 10vw;
  padding-bottom: 20vw;
  padding-left: 0vw;
  padding-right: 0vw;
  max-width: 100%;
  height:auto;
}

/* NAVBAR */

#menu{
  display:none;
  background-color: black;
}

#menu img{
  width: 28px;
  padding-top: 8px;
  margin-right: 35px;
  cursor: pointer;
}

#menuoverlay{
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 98vh;
  text-align: left;
  padding-left: 70px;
  display:none;

}

#close{
  position:absolute;
  right: 40px;
  top:20px;
  font-size: 45px;
  cursor: pointer;
}

.innermenu{
  margin-top: 100px;
  background-color: black;
}

.innermenu div{
  padding-bottom: 30px;
  background-color: black;
}

.nav{
  font-size: 16px;
  display:inline-block;
  margin-right: 25px;
}

.nav_host{
display:inline-block;
}

.navbar{
display:inline-block;
}

@media screen and (max-width: 925px){

  .navbar{display:none;}
  .nav{display:none;}
  .divider{display: none;}

}

@media screen and (max-width: 768px){

  #menu{display:inline-block;}
  .navbar{display:none;}
  .nav_host{display:none;}
  .access{display:none;}
  .account{display:none;}
  .index_content{max-width:370px;}
  .row [class^="col"] {min-width: 100%;}
  .divider{border-right: 0px;}
}

.topofpage{
  background-color: transparent;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height:80px;

}

.navbar{
  background-color: transparent;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:flex-end;
  flex-grow:1;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
}

.logo{
  max-width: 205px;
  background-color: transparent;
  text-align:left;
}

.logo a:hover {
  border-bottom: 0;
}

.logo_img{
  margin-top: 7px;
  margin-left: 40px;
  width:205px;
  border:0;
}

.access{
  align-content: flex-end;
  margin-left: auto;
  max-width: 43px;
  background-color: transparent;
  text-align: right;
  padding-right: 20px;
  padding-top: 8px;
}

.access a:hover {
  border-bottom: 0;
}

.access_img{
  width:85%;
  border-bottom:0px transparent;
}

.account{
  align-content: flex-end;
  margin-left: auto;
  max-width: 100px;
  background-color: transparent;
  text-align: right;
  padding-right: 130px;
  padding-top: 10px;
}

.account a:hover {
  border-bottom: 0;
}

.account_img{
  width:95px;
  border-bottom:0px transparent;
}


.tile{
	background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
	width: 100%;

}

.page1{
	font-weight: 400;
  text-align: left;
  padding-top: 16vh;
  padding-left: 8vw;
	padding-right: 8vw;
  width:auto;
	height:auto;
	display: block;
}

.page2{
  font-weight: 400;
  text-align: left;
  line-height: 1;
  padding-top: 6vh;
  padding-bottom: 20vh;
  padding-left: 0vw;
  padding-right: 0vw;
  max-width: 100%;
  height:100%;
  display: block;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.page3{
	background-color: rgba(0, 0, 0, 0.25);
	font-weight: 400;
  font-size: 18px;
  text-align: left;
  padding-left: 17vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width:auto;
	height:60%;
	display:block;
}

.page4{
  background-color: rgba(0, 0, 0, 0.25);
	font-weight: 400;
  font-size: 18px;
  text-align: left;
  padding-left: 17vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width:auto;
	height:100%;
	display: block;
}

.page5{
  background-color: rgba(0, 0, 0, 0.25);
	font-weight: 400;
  font-size: 18px;
  text-align: left;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 17vh;
  width:auto;
	height:100%;
	display: block;
}

.page_header{
  background-color: rgba(0, 0, 0, 0.25);
	font-weight: 400;
  font-size: 18px;
  text-align: left;
  margin-top: 10vh;
  margin-bottom: 5vh;
  padding-left: 1vh;
  width:auto;
	height:100%;
	display: block;
}
